*{
box-sizing: border-box;
}


body{
padding: 0;
margin: 0;
}


main{
.articles-first{
width: 100%;
height: 80vh;
background-color: white;
display: flex;
   .articles-first-left{
                width: 50%;
                height: 100%;
                
                display: flex;
                justify-content: center;
                align-items: center;
                                .article-left-img{
                                            width: 550px;
                                            height: 350px;
                                            border-radius: 10px;

                                        }
                }


.articles-first-right{
padding: 0 50px;

width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 15px;



                    .challenges-btn{
                         
                          margin-top: 10px;
                          width: 60px;
                          background-color: rgb(231,235,249);
                          border-radius: 18px;
                         padding: 6px 0;
                            font-size: 16px;
                            text-align: center;
                              font-weight: bold;  
                                color: var(--primary-color);
                                  }
.articles-right-heading{
font-size: 40px;
color: var(--primary-color);


}
.articles-right-subheading{
font-size: 15px;
width: 90%;

}
.articles-right-lower{
display: flex;
gap: 40px;
align-items: center;
font-weight: bold;
font-size: 15px;

        .articles-dp{
                    height: 40px;
                    width: 40px;
                    border: 1px solid rgb(228, 228, 228);
                    border-radius: 20px;

                }

}

}

}

.articles-second{
background-color: var(--secondary-color);
width: 100%;
.articles-div-layer{
display: flex;
gap: 50px;
margin-left: 120px;
padding-top: 100px;
}

        .articles-div{
border-radius: 10px;
height: 560px;
width: 380px;


.articles-div-upper{

          height: 42%;
              width: 100%;
    .div-img{
      border-radius: 10px;
      height: 100%;
      width: 100%;
      }
}

.articles-div-lower{
display: flex;
flex-direction: column;
gap: 25px;
margin-top: 20px;
        .learning-btn{
              border-radius: 20px;
             border: none;
              outline: none;
              padding: 5px 10px;
              font-size: 16px;
              font-weight: bold;
              background-color: rgb(231,235,249);
              color: var(--primary-color);
                }
        .articles-div-heading{
          font-size: 22px;
          font-weight: bold;


          }

}
.articles-lowest{
display: flex;
gap: 10px;
align-items: center;
font-weight: bold;
font-size: 15px;

        .articles-dp{
                    height: 40px;
                    width: 40px;
                    border: 1px solid rgb(228, 228, 228);
                    border-radius: 20px;

                }

}


}


}


}
