:root {
  --primary-color: rgb(62, 84, 163);
  --secondary-color: rgb(240,244,244);

  /* typography */
  /* --font-family: "Poppins","sans-serif", */

  /* spacings */
  --xs: 4px;
  --sm: 8px;
  --md: 16px;
  --lg: 24px;
  --xl: 32px;
  --2xl: 40px;
  --3xl: 48px;
  --wrapper: 12vw;

  /* fontsizes */
  --font-xs: 4px;
  --font-sm: 8px;
  --font-base: 16px;
  --font-md: 24px;
  --font-lg: 32px;
}

.green-background{
background-color: rgb(170,215,66);
}
.green-border{
border: 1px solid rgb(170,215,66);

}
.green-font{
color: rgb(170,215,66);
}

.blue-background{
background-color: rgb(106,190,205);
}
.blue-border{
border: 1px solid rgb(106,190,205);

}
.blue-font{
color: rgb(106,190,205);
}
